@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  background: #F1F5F8;
}

h1, .h1 {
  font-size: 44px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.44px;
}

h2, .h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.3px;
}

h3, .h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.18px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

img a {
  position: relative;
  color: #3F444C;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1054px;
}

.content {
  min-height: -webkit-calc(100vh - 144px);
  min-height: calc(100vh - 144px);
}

.header {
  margin-bottom: 60px;
  border-bottom: 1px solid #E5E5EB;
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  max-width: none;
  background: #3F444C;
  padding: 20px 50px;
  margin: 0 auto;
  z-index: 9999;
  -webkit-transform: translate(0 0);
      -ms-transform: translate(0 0);
          transform: translate(0 0);
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.main-menu li {
  display: inline-block;
  margin: 0 11px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu li a {
  color: #76767A;
}

.main-menu li a:hover, .main-menu li a:focus {
  color: #000;
  opacity: 1;
}

.burger-menu {
  display: none;
}

.banner {
  margin-bottom: 50px;
}

.banner-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.banner-text h1, .banner-text .h1 {
  width: -webkit-calc(100% - 185px);
  width: calc(100% - 185px);
  padding-right: 80px;
}

.banner-article {
  position: relative;
  overflow: hidden;
}

.banner-article img {
  display: block;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.banner-article:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.banner-article__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 48px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#2D394800), to(#293039)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(top, #2D394800 0%, #293039 100%) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(top, #2D394800 0%, #293039 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #2D394800 0%, #293039 100%) 0% 0% no-repeat padding-box;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.banner-article__overlay:hover {
  opacity: 1;
}

.banner-article__overlay .h2 {
  max-width: 586px;
  margin-bottom: 25px;
  color: #fff;
}

.banner-article__info--date {
  color: #fff;
  letter-spacing: 0.14px;
  text-shadow: 0px 2px 2px #00000029;
}

.post {
  padding-bottom: 80px;
  text-align: center;
}

.post > .btn {
  margin-top: 40px;
}

.post-item {
  margin-bottom: 12px;
  background: #fff;
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
  text-align: left;
}

.post-item__img img {
  display: block;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.post-item__info {
  padding: 25px 0;
}

.post-item__info .h3 {
  margin-bottom: 10px;
}

.post-item__info--date {
  margin-bottom: 22px;
  color: #76767A;
}

.post-item__info p {
  margin-bottom: 10px;
  line-height: 24px;
}

.post-item__info--more {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  font-weight: bold;
  color: #1664A0;
}

.post-item__info--more::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #1664A0;
  -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.post-item__info--more:hover, .post-item__info--more:focus {
  opacity: 1;
  color: #1664A0;
}

.post-item__info--more:hover::before, .post-item__info--more:focus::before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.sidebar {
  padding-bottom: 80px;
}

.sidebar .h2 {
  margin-bottom: 30px;
}

.section {
  padding: 42px 0;
}

.section .h2 {
  margin-bottom: 35px;
}

.news {
  padding-bottom: 30px;
}

.news-item {
  margin-bottom: 12px;
  padding: 20px 16px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.news-item .col-xs-8 {
  padding-right: 0;
}

.news-item .h3 {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 11px 16px 11px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.16px;
  color: #1664A0;
  border: 1px solid #B3CBE8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.btn:hover, .btn:focus {
  color: #fff;
  background: #1664A0;
  opacity: 1;
}

.btn-blue {
  border-color: transparent;
  color: #fff;
  background: #1664A0;
}

.btn-blue:hover, .btn-blue:focus {
  color: #1664A0;
  border: 1px solid #B3CBE8;
  background: #fff;
}

.gto {
  height: 474px;
  background: url(../img/gto.png) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

.gto .container {
  height: 100%;
}

.gto-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 120px;
}

.gto-block .h1 {
  margin-bottom: 30px;
}

.gto-block p {
  margin-bottom: 50px;
}

.about-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.about-item {
  padding: 30px 24px 10px;
  margin-bottom: 32px;
  min-height: 150px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.about-item .h3 {
  margin-bottom: 10px;
}

.about-item p {
  line-height: 24px;
}

.leadership {
  text-align: center;
  background: #fff;
}

.leadership-item {
  padding: 30px 25px 30px;
  min-height: 300px;
  margin-bottom: 24px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #B3CBE8;
}

.leadership-item img {
  display: block;
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.leadership-item .h3 {
  min-height: 46px;
  margin-bottom: 20px;
  color: #1664A0;
}

.leadership-item span {
  display: block;
  color: #333333;
}

.contacts {
  background: #3B4256;
  color: #fff;
}

.contacts-item {
  padding: 32px;
  border: 1px solid #656A7A;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.contacts-item__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 25px;
}

.contacts-item__top .h3 {
  padding-top: 10px;
  margin-bottom: 5px;
}

.contacts-item__top img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 100%;
}

.contacts-item__top p {
  line-height: 24px;
}

.contacts-item__user {
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  padding-left: 20px;
}

.contacts-unit {
  margin-bottom: 20px;
}

.contacts-unit:last-child {
  margin-bottom: 0;
}

.contacts-unit span {
  display: block;
  margin-bottom: 5px;
}

.contacts-unit a, .contacts-unit strong {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.18px;
  color: #fff;
}

.footer {
  padding: 30px 0;
  background: #fff;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links a {
  margin-right: 24px;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links p {
  color: #333;
}

.inner .header {
  background: #fff;
}

.inner .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner .logo span {
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto;
}

.inner-section h1 {
  margin-bottom: 60px;
}

.inner-section > img {
  display: block;
  margin: 0 auto 60px;
}

.inner-section article {
  max-width: 500px;
  margin: 0 auto;
}

.inner-section article p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.18px;
}

.inner-section article h2 {
  margin-bottom: 40px;
}

.inner-section article img {
  display: block;
  margin: 0 auto 40px;
}

.inner .contacts-item {
  background: #43495D;
}

.img-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.img-block img {
  max-width: 50%;
}

.img-block__text {
  padding: 20px;
}

.img-block__text h3 {
  margin-bottom: 10px;
}

.img-block__text span {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.advice {
  padding-bottom: 50px;
}

.advice-item {
  height: 100%;
  min-height: 372px;
  padding: 32px;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #F1F5F8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
}

.advice-item__big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  text-align: left;
}

.advice-item__big .h2 {
  margin-bottom: 25px;
  color: #1664A0;
}

.advice-item__big p {
  font-size: 18px;
  line-height: 36px;
}

.advice-item__img {
  width: 180px;
}

.advice-item__img img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.advice-item__text {
  padding-left: 30px;
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
}

.advice-item > img {
  display: block;
  margin: 0 auto 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.advice-item .h3 {
  margin-bottom: 15px;
  color: #1664A0;
}

.advice-item > p {
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs {
  margin: -20px 0 20px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: -0.03em;
  font-size: 16px;
  color: #76767A;
}

.breadcrumbs li + li::before {
  content: "";
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -1px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #76767A;
  border-bottom: 1px solid #76767A;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs li a {
  position: relative;
  font-weight: 300;
  color: #0050B2;
}

.blog h1 {
  margin-bottom: 40px;
}

.blog-date {
  margin-bottom: 70px;
  font-size: 14px;
  color: #76767A;
}

.blog-img {
  position: relative;
}

.blog-img:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent -webkit-radial-gradient(50% 50%, closest-side, #2D394800 0%, #29303980 100%) 0% 0% no-repeat padding-box;
  background: transparent -o-radial-gradient(50% 50%, closest-side, #2D394800 0%, #29303980 100%) 0% 0% no-repeat padding-box;
  background: transparent radial-gradient(closest-side at 50% 50%, #2D394800 0%, #29303980 100%) 0% 0% no-repeat padding-box;
}

.blog-img img {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  margin: 0 auto 60px;
}

.blog p {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.18px;
}

.burger-menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .main-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 72px;
    padding: 15px 0;
    background: #fff;
    z-index: 10;
  }
  .main-menu li {
    display: block;
    margin: 0;
    text-align: center;
  }
  .main-menu li:first-child {
    margin: 0;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li a {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
  }
  .burger-menu {
    display: block;
    background: transparent;
    width: 30px;
    border: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
  }
  .burger-menu:focus {
    outline: none;
  }
  .burger-menu span {
    position: relative;
    width: 100%;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background: #000;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .burger-menu > span:last-child {
    margin-bottom: 0;
  }
  .burger-menu.active span:nth-of-type(1) {
    top: 8px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-menu.active span:nth-of-type(2) {
    background-color: transparent;
  }
  .burger-menu.active span:nth-of-type(3) {
    top: -8px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header {
    margin-bottom: 30px;
  }
  .banner-text {
    margin-bottom: 30px;
  }
  .banner-text h1 {
    padding: 0;
    width: auto;
    line-height: 40px;
    font-size: 30px;
  }
  .banner-text img {
    display: none;
  }
  h2, .h2 {
    font-size: 24px;
    line-height: 30px;
  }
  h3, .h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    line-height: 34px;
    font-size: 24px;
  }
  .banner {
    margin-bottom: 40px;
  }
  .banner-text h1 {
    line-height: 34px;
    font-size: 24px;
  }
  .banner-article__overlay {
    position: static;
    padding: 15px 0 0;
    background: transparent;
  }
  .banner-article__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner-article__info .h2 {
    margin-bottom: 0;
    color: #000;
  }
  .banner-article__info--date {
    margin-bottom: 10px;
    color: #000;
    text-shadow: none;
  }
  h2, .h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .post {
    padding-bottom: 50px;
  }
  .post-item {
    max-width: 320px;
    margin: 0 auto 30px;
  }
  .post-item__info {
    padding-left: 15px;
    padding-right: 15px;
  }
  .post > .btn {
    margin-top: 0;
  }
  .sidebar {
    padding-bottom: 40px;
  }
  .sidebar .h2 {
    text-align: center;
  }
  .gto {
    padding: 35px 0;
    height: auto;
    background: #3B4256;
  }
  .gto-block {
    padding-top: 0;
  }
  .gto-block .h1 {
    margin-bottom: 15px;
  }
  .gto-block p {
    margin-bottom: 30px;
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .section {
    padding: 40px 0;
  }
  .section.contacts {
    padding-bottom: 20px;
  }
  .section .h2 {
    margin-bottom: 24px;
    text-align: center;
  }
  .about-wrap {
    display: block;
  }
  .about-item {
    margin-bottom: 12px;
  }
  .leadership-item {
    padding: 20px 25px 15px;
    min-height: 272px;
  }
  .leadership-item .h3 {
    margin-bottom: 10px;
    min-height: auto;
  }
  .contacts-item {
    padding: 20px;
    margin-bottom: 24px;
  }
  .contacts-item__top {
    display: block;
    text-align: center;
  }
  .contacts-item__user {
    width: auto;
    padding: 0;
  }
  .contacts-unit {
    text-align: center;
  }
  .footer-wrap {
    text-align: center;
  }
  .advice-item {
    margin-bottom: 30px;
    padding: 25px;
    display: block;
    min-height: auto;
  }
  .advice-item__big p {
    font-size: 14px;
    line-height: 24px;
  }
  .advice-item__big .h2 {
    margin-bottom: 15px;
  }
  .advice-item__img {
    margin: 0 auto 20px;
  }
  .advice-item__text {
    width: auto;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    margin-bottom: 20px;
  }
  .banner-text h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .banner-article__info .h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .inner-section h1 {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 36px;
  }
  .inner-section > img {
    margin: 0px auto 30px;
  }
  .inner-section article h2 {
    margin-bottom: 30px;
  }
  .inner-section article p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
  }
  .inner-section article img {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    margin: -10px 0 15px;
  }
  .blog-date {
    margin-bottom: 35px;
  }
  .blog-img img {
    margin: 0 auto 30px;
  }
  .blog p {
    font-size: 16px;
    line-height: 32px;
  }
}
