@font-face
  font-family: 'Helvetica'
  src: url('../fonts/Helvetica/Helvetica-Regular.woff2') format("woff2"), url('../fonts/Helvetica/Helvetica-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Helvetica'
  src: url('../fonts/Helvetica/Helvetica-Bold.woff2') format("woff2"), url('../fonts/Helvetica/Helvetica-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Medium.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal