@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
.container
	max-width: 1054px
		
.content
	min-height: calc(100vh - 144px)

.header
	margin-bottom: 60px
	border-bottom: 1px solid #E5E5EB

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		width: 100%
		max-width: none
		background: #3F444C
		padding: 20px 50px
		margin: 0 auto
		z-index: 9999
		transform: translate(0 0)

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 5px



	


.main-menu

	li
		display: inline-block
		margin: 0 11px

		&:first-child
			margin-left: 0

		&:last-child
			margin-right: 0

		a
			color: #76767A

			&:hover, &:focus
				color: #000
				opacity: 1





.burger-menu
	display: none


.banner
	margin-bottom: 50px

	&-text
		display: flex
		align-items: center
		margin-bottom: 40px

		h1, .h1
			width: calc(100% - 185px)
			padding-right: 80px

	&-article
		position: relative
		overflow: hidden

		img
			display: block
			transition: all .5s

		&:hover

			img
				transform: scale(1.1)

		&__overlay
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			display: flex
			align-items: flex-end
			padding: 48px
			background: transparent linear-gradient(180deg, #2D394800 0%, #293039 100%) 0% 0% no-repeat padding-box
			border-radius: 3px

			&:hover
				opacity: 1

			.h2
				max-width: 586px
				margin-bottom: 25px
				color: #fff

		&__info

			&--date
				color: #fff
				letter-spacing: 0.14px
				text-shadow: 0px 2px 2px #00000029



.post
	padding-bottom: 80px
	text-align: center

	>.btn
		margin-top: 40px

	&-item
		margin-bottom: 12px
		background: #fff
		border-radius: 0 3px 3px 0
		text-align: left

		&__img
			img
				display: block
				border-radius: 3px 0 0 3px

		&__info
			padding: 25px 0

			.h3
				margin-bottom: 10px

			&--date
				margin-bottom: 22px
				color: #76767A

			p
				margin-bottom: 10px
				line-height: 24px

			&--more
				position: relative
				display: inline-block
				padding-bottom: 2px
				font-weight: bold
				color: #1664A0

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 1px
					background: #1664A0
					transform: translate(0, 10px)
					transition: all .3s
					opacity: 0

	
				&:hover, &:focus
					opacity: 1
					color: #1664A0

					&::before
						transform: translate(0)
						opacity: 1



.sidebar
	padding-bottom: 80px

	.h2
		margin-bottom: 30px

.section
	padding: 42px 0

	.h2
		margin-bottom: 35px


.news
	padding-bottom: 30px

	&-item
		margin-bottom: 12px
		padding: 20px 16px
		background: #fff
		border-radius: 3px

		.col-xs-8
			padding-right: 0

		.h3
			margin-bottom: 15px

	



.btn
	display: inline-block
	padding: 11px 16px 11px
	text-align: center
	font-size: 16px
	letter-spacing: 0.16px
	color: #1664A0
	border: 1px solid #B3CBE8
	border-radius: 3px

	&:hover, &:focus
		color: #fff
		background: #1664A0
		opacity: 1

	&-blue
		border-color: transparent
		color: #fff
		background: #1664A0

		&:hover, &:focus
			color: #1664A0
			border: 1px solid #B3CBE8
			background: #fff



.gto
	height: 474px
	background: url(../img/gto.png) no-repeat center top
	background-size: cover
	color: #fff

	.container
		height: 100%

	&-block
		display: flex
		align-items: center
		height: 100%
		padding-top: 120px


		.h1
			margin-bottom: 30px

		p
			margin-bottom: 50px





.about

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		padding: 30px 24px 10px
		margin-bottom: 32px
		min-height: 150px
		background: #fff
		border-radius: 3px

		.h3
			margin-bottom: 10px

		p
			line-height: 24px


.leadership
	text-align: center
	background: #fff

	&-item
		padding: 30px 25px 30px
		min-height: 300px
		margin-bottom: 24px
		border-radius: 3px
		border: 1px solid #B3CBE8


		img
			display: block
			margin: 0 auto 20px
			border-radius: 50%

		.h3
			min-height: 46px
			margin-bottom: 20px
			color: #1664A0

		span
			display: block
			color: #333333


.contacts
	background: #3B4256
	color: #fff

	&-item
		padding: 32px
		border: 1px solid #656A7A
		border-radius: 3px

		&__top
			display: flex
			flex-wrap: wrap
			margin-bottom: 25px

			.h3
				padding-top: 10px
				margin-bottom: 5px

			img
				border-radius: 50%
				height: 100%

			p
				line-height: 24px

		&__user
			width: calc(100% - 100px)
			padding-left: 20px

	&-unit
		margin-bottom: 20px

		&:last-child
			margin-bottom: 0

		span
			display: block
			margin-bottom: 5px

		a, strong
			display: inline-block
			font-weight: bold
			font-size: 18px
			letter-spacing: 0.18px
			color: #fff



.footer
	padding: 30px 0
	background: #fff

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center

	&-links
		display: flex
		align-items: center

		a
			margin-right: 24px

			&:last-child
				margin-right: 0

		p
			color: #333



.inner

	.header
		background: #fff

	.logo
		display: flex
		align-items: center

		span
			font-size: 12px
			font-weight: 500
			font-family: Roboto

	&-section

		h1
			margin-bottom: 60px

		>img
			display: block
			margin: 0 auto 60px


		article
			max-width: 500px
			margin: 0 auto
	
			p
				margin-bottom: 50px
				font-size: 18px
				line-height: 36px
				letter-spacing: 0.18px

			h2
				margin-bottom: 40px

			img
				display: block
				margin: 0 auto 40px

	.contacts-item
		background: #43495D


.img
	&-block
		display: flex
		align-items: center
		margin-bottom: 40px
		background: #fff
		border-radius: 3px

		img
			max-width: 50%

		&__text
			padding: 20px

			
			h3
				margin-bottom: 10px

			span
				font-size: 14px
				line-height: 24px
				color: #333



.advice
	padding-bottom: 50px

	&-item
		height: 100%
		min-height: 372px
		padding: 32px
		margin-bottom: 30px
		background: #fff
		border: 1px solid #F1F5F8
		border-radius: 3px
		text-align: center

		&__big
			display: flex
			padding: 50px
			text-align: left

			.h2
				margin-bottom: 25px
				color: #1664A0

			p
				font-size: 18px
				line-height: 36px

		&__img
			width: 180px

			img
				border-radius: 50%

		&__text
			padding-left: 30px
			width: calc(100% - 180px)

		>img
			display: block
			margin: 0 auto 25px
			border-radius: 50%

		.h3
			margin-bottom: 15px
			color: #1664A0

		>p
			font-size: 14px
			line-height: 24px




.breadcrumbs
	margin: -20px 0 20px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 16px
		color: #76767A

		+ li::before
			content: ""
			display: inline-block
			margin: 0 5px
			position: relative
			top: -1px
			width: 8px
			height: 8px
			border-right: 1px solid #76767A
			border-bottom: 1px solid #76767A
			transform: rotate(-45deg)

		a
			position: relative
			font-weight: 300
			color: #0050B2


.blog

	h1
		margin-bottom: 40px

	&-date
		margin-bottom: 70px
		font-size: 14px
		color: #76767A

	&-img
		position: relative

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: transparent radial-gradient(closest-side at 50% 50%, #2D394800 0%, #29303980 100%) 0% 0% no-repeat padding-box

		img
			border-radius: 3px
			display: block
			margin: 0 auto 60px

	p
		max-width: 500px
		margin: 0 auto
		margin-bottom: 50px
		font-size: 18px
		line-height: 36px
		letter-spacing: 0.18px




.burger-menu
	display: none







@media only screen and (max-width: 991px)
	
	.main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 72px
		padding: 15px 0
		background: #fff
		z-index: 10

		li
			display: block
			margin: 0
			text-align: center

			&:first-child
				margin: 0

			&:last-child
				margin: 0

			a
				display: block
				padding: 10px 0
				font-size: 16px
				color: #000


	.burger-menu
		display: block
		background: transparent
		width: 30px
		border: none
		border-radius: 3px
		&:focus
			outline: none
		span
			position: relative
			width: 100%
			display: block
			height: 2px
			margin-bottom: 6px
			background: #000
			transition: all 500ms ease-in-out
		> span:last-child
			margin-bottom: 0
		&.active span
			&:nth-of-type(1)
				top: 8px
				transform: rotate(45deg)
			&:nth-of-type(2)
				background-color: transparent
			&:nth-of-type(3)
				top: -8px
				transform: rotate(-45deg)

	.header
		margin-bottom: 30px
	
	.banner
		&-text
			margin-bottom: 30px

			h1
				padding: 0
				width: auto
				line-height: 40px
				font-size: 30px

			img
				display: none


	h2, .h2
		font-size: 24px
		line-height: 30px

	h3, .h3
		font-size: 16px
		line-height: 22px

	.footer-wrap
		flex-direction: column











@media only screen and (max-width: 768px)

	h1
		line-height: 34px
		font-size: 24px

	.banner
		margin-bottom: 40px
		&-text 
			h1
				line-height: 34px
				font-size: 24px

		&-article
			&__overlay
				position: static
				padding: 15px 0 0
				background: transparent

			&__info
				display: flex
				flex-direction: column-reverse

				.h2
					margin-bottom: 0
					color: #000

				&--date
					margin-bottom: 10px
					color: #000
					text-shadow: none
		

	h2, .h2
		font-size: 20px
		line-height: 26px

	
	.post
		padding-bottom: 50px
		&-item
			max-width: 320px
			margin: 0 auto 30px

			&__info
				padding-left: 15px
				padding-right: 15px

		>.btn
			margin-top: 0

	.sidebar
		padding-bottom: 40px

		.h2
			text-align: center


	.gto
		padding: 35px 0
		height: auto
		background: #3B4256

		&-block
			padding-top: 0

			.h1
				margin-bottom: 15px

			p
				margin-bottom: 30px

	h1, .h1
		font-size: 30px
		line-height: 40px

	.section
		padding: 40px 0

		&.contacts
			padding-bottom: 20px

		.h2
			margin-bottom: 24px
			text-align: center

	.about
		&-wrap
			display: block

		&-item
			margin-bottom: 12px

	.leadership-item
		padding: 20px 25px 15px
		min-height: 272px

		.h3
			margin-bottom: 10px
			min-height: auto

	.contacts-item
		padding: 20px
		margin-bottom: 24px



		&__top
			display: block
			text-align: center

		&__user
			width: auto
			padding: 0

	.contacts-unit
		text-align: center

	.footer-wrap
		text-align: center

	.advice-item
		margin-bottom: 30px
		padding: 25px
		display: block
		min-height: auto

		&__big

			p
				font-size: 14px
				line-height: 24px

			.h2
				margin-bottom: 15px

		&__img
			margin: 0 auto 20px

		&__text
			width: auto
			padding: 0
			text-align: center











@media only screen and (max-width: 479px)
	.header
		margin-bottom: 20px


	.banner-text h1
		font-size: 20px
		line-height: 30px

	.banner-article__info

		.h2
			font-size: 16px
			line-height: 24px

	.inner-section 
		h1
			margin-bottom: 30px
			font-size: 26px
			line-height: 36px

	.inner-section > img
		margin: 0px auto 30px

	.inner-section article
		h2
			margin-bottom: 30px
		p
			margin-bottom: 30px
			font-size: 16px
			line-height: 30px

		img
			margin-bottom: 30px

	.breadcrumbs
		margin: -10px 0 15px

	.blog-date
		margin-bottom: 35px

	.blog-img img
		margin: 0 auto 30px

	.blog p
		font-size: 16px
		line-height: 32px